<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gxcy.letaotao.web.app.mapper.LTPostMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.gxcy.letaotao.web.app.vo.LTWechatPostVo">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="title" property="title"/>
        <result column="content" property="content"/>
        <result column="image_url" property="imageUrl"/>
        <result column="status" property="status"/>
        <result column="post_time" property="postTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="like_count" property="likeCount"/>
        <result column="comment_count" property="commentCount"/>
        <result column="collect_count" property="collectCount"/>
        <result column="avatar" property="avatar"/>
        <result column="nick_name" property="nickName"/>
        <collection property="images" ofType="com.gxcy.letaotao.web.app.vo.LTImagesVo">
            <id property="id" column="lid"/>
            <result property="url" column="url"/>
            <result property="relatedId" column="related_id"/>
        </collection>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id
        , user_id, title, content, image_url, status, post_time, like_count, comment_count, collect_count
    </sql>

    <select id="findListByPage" resultMap="BaseResultMap">
        select p.`id`,
        p.`user_id`,
        p.`title`,
        p.`content`,
        p.`status`,
        p.`post_time`,
        p.`like_count`,
        p.`comment_count`,
        p.`collect_count`,
        u.`nick_name`,
        u.avatar
        from lt_post p
        left join lt_user u on p.`user_id` = u.id
        <where>
            <if test="ew.sqlSegment != null and ew.sqlSegment != ''">
                and ${ew.sqlSegment}
            </if>
        </where>
    </select>

</mapper>
